aws {
  accessKey = ""
  secretKey = ""
  swf {
    region = ""
    domain = ""
    version = ""
    taskList {
      decision = ""
      activity {
        short = ""
        long = ""
      }
    }
  }
}
