package jp.rf.swfsample

object Config {
  case class TypeInfo(name: String, version: String)
  val accessKey = ""
  val secretKey = ""
  val regionName = ""
  val domainName = ""
  val workflowType = TypeInfo(name = "", version = "")
  val activityType = TypeInfo(name = "", version = "")
}
